<div class="container" style="text-align: center;">
  <div class="row">
    <!-- <div class="col-xs-1"></div> -->
    <button class="col-xs-1 btn btn-primary" ng-click="fecha.previousMonth()">&lt;</button>
    <div class="col-xs-5">
      <div class="row">
        {{ fecha.month_text }}
      </div>
      <div class="row">
        {{ fecha.year }}
      </div>
    </div>
    <button class="col-xs-1 btn btn-primary" ng-click="fecha.nextMonth()">&gt;</button>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">
    <!-- <div class="col-xs-1"></div> -->
    <div class="col-xs-1">L</div>
    <div class="col-xs-1">M</div>
    <div class="col-xs-1">X</div>
    <div class="col-xs-1">J</div>
    <div class="col-xs-1">V</div>
    <div class="col-xs-1">S</div>
    <div class="col-xs-1">D</div>
  </div>


  <div class="row" ng-repeat="j in fecha.array">
    <!-- <div class="col-xs-1"></div> -->
    <div class="col-xs-1" ng-repeat="i in j">{{ i }}</div>
  </div>
  
</div>
