<div class="calendar">
  <style>
    .day{
      border-radius: 50%;
    }
    .day.unable {
      color: gray;
    }
    .day.today {
      background: lightgray;
    }
    .day.selected {
      background: lightblue;
    }
    .calendar {
      width: 400px;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      margin: 10px 25px;
    }
    .calendar .menu {
      margin-bottom: 10px;
    }
    .calendar .body {

    }
    .calendar .body .day{
      height: 33px;
      padding: 8px;
    }
  </style>
  <div>

    <!-- TODO Apply the other changes -->
    <div hidden>
      <div class="row">
        <div class="col-xs-6 row">
          <div class="col-xs-2"></div>
          <div class="col-xs-10">YYYY</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 row">
          <div class="col-xs-2">&lt;</div>
          <div class="col-xs-10">MM</div>
        </div>
        <div class="col-xs-6 row">
          <div class="col-xs-2">&gt;</div>
        </div>
      </div>

      <div class="row" ng-repeat="i in [0,1,2,3,4,5,6]">
        <div class="col-xs-6 row">
          <div class="col-xs-2">x</div>
          <div class="col-xs-2">x</div>
          <div class="col-xs-2">x</div>
          <div class="col-xs-2">x</div>
          <div class="col-xs-2">x</div>
          <div class="col-xs-2">x</div>
        </div>
        <div class="col-xs-6 row">
          <div class="col-xs-2">x</div>
        </div>
      </div>
    </div>

    <div class="menu">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">{{ fecha.year }}</div>
      </div>
      <div class="row">
        <div class="col-xs-1" ng-click="prevMonth()">&lt;</div>
        <div class="col-xs-5">
          {{ fecha.month_text() }}
        </div>
        <div class="col-xs-1" ng-click="nextMonth()">&gt;</div>
      </div>
    </div>
    <div class="header">
      <div class="row">
        <div class="col-xs-1">L</div>
        <div class="col-xs-1">M</div>
        <div class="col-xs-1">X</div>
        <div class="col-xs-1">J</div>
        <div class="col-xs-1">V</div>
        <div class="col-xs-1">S</div>
        <div class="col-xs-1">D</div>
      </div>
    </div>
    <div class="body">
      <div class="row" ng-repeat="week in calendario">
        <div class="col-xs-1 day" ng-repeat="day in week" ng-class="{'unable': (day.month != fecha.month), 'today': (day.day == today.day && day.month == today.month && day.year == today.year), 'selected': day.selected}" ng-click="select(this)">
          {{ day.day }}
        </div>
      </div>
    </div>
  </div>
</div>
