<div class="calendar">
  <style>
    .day{
      border-radius: 50%;
    }
    .day.unable {
      color: gray;
    }
    .day.today {
      background: lightgray;
    }
    .day.selected {
      background: lightblue;
    }
    .calendar {
      width: 400px;
      font-family: 'Roboto', sans-serif;
      white-space: nowrap;
    }
    .calendar .menu {
      margin-bottom: 10px;
    }

    .calendar .grind {
      text-align: center;
    }

    .calendar .grid .week {
      display:block;
      height: 30px;
    }
    .calendar .grid .week .day {
      display: inline-block;
      width: 30px;
      padding: 5px;
      margin: 5px;
    }

  </style>

    <div class="menu">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">{{ fecha.year }}</div>
      </div>
      <div class="row">
        <div class="col-xs-1" ng-click="prevMonth()">&lt;</div>
        <div class="col-xs-5">
          {{ fecha.month_text() }}
        </div>
        <div class="col-xs-1" ng-click="nextMonth()">&gt;</div>
      </div>
    </div>

    <div class="grid">
      <div class="header">
          <div class="week">
          <!-- The structure of this block is for avoid the white spaces introduced by the browser-->
          <!-- https://css-tricks.com/fighting-the-space-between-inline-block-elements/ -->
              <div class="day">
              L</div><div class="day">
              M</div><div class="day">
              X</div><div class="day">
              J</div><div class="day">
              V</div><div class="day">
              S</div><div class="day">
              D</div>
            <!-- <div class="day" ng-repeat="d in ['L','M','X','J','V','S','D']">{{ d }}</div> -->
          </div>
        </div>
        <div class="body">
          <div class="week" ng-repeat="week in calendario">
          <div class="day"
          ng-class="{
            'unable': (day.month != fecha.month),
            'today': (day.day == today.day && day.month == today.month && day.year == today.year), 'selected': day.selected
          }"
          ng-click="select(this)"
          ng-repeat="day in week">
            {{ day.day }}
          </div>
        </div>
      </div>
    </div>
</div>
